{% extends 'base.html' %}
{% load static %}
{% block title %}トップページ{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'diary/form.css' %}">{% endblock %}
{% block header %}
<h1 id="logo">SAMPLE 株式会社　お問合せフォーム</h1>
{% endblock%}
{% block content%}
<div class="Form">
<form method="post">
  {% csrf_token %}

  {% for field in form %}
    <div class="Form-Item">
      <p class="Form-Item-Label">
        {{ field.label_tag }}
        <!-- <span class="Form-Item-Label-Required">必須</span> -->
      </p>
      {{field}}
      {{field.errors}}
    </div>
  {% endfor %}

  <button type="submit" class="Form-Button">送信</button>
</form>
</div>
{% endblock %}
    <!-- <div class="Form-Item">
      <p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>電話番号</p>
      <input type="text" class="Form-Item-Input" placeholder="例）000-0000-0000">
    </div>
    <div class="Form-Item">
      <p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>メールアドレス</p>
      <input type="email" class="Form-Item-Input" placeholder="例）example@gmail.com">
    </div>
    <div class="Form-Item">
      <p class="Form-Item-Label isMsg"><span class="Form-Item-Label-Required">必須</span>お問い合わせ内容</p>
      <textarea class="Form-Item-Textarea"></textarea>
    </div>
    <input type="submit" class="Form-Btn" value="送信する">
  </div> -->
