{% extends "account_base.html" %}

{% block title %}ログイン111{% endblock %}

{% block active_login %}active{% endblock %}

{% block contents %}
<div class="container">
    <div class="row">
        <h1>ログイン</h1>
        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {%csrf_token%}
            {{ form.as_p }}
            {% if redirect_field_value %}
            <input type="hidden" 
            name="{{ redirect_field_name }}" 
            value="{{ redirect_field_value }}" />
            {% endif %}
            <button type="submit">ログイン &raquo;</button>
            <p><a href="{% url 'account_reset_password' %}">パスワードを忘れましたか？</a></p>
          </form>  
    </div>
</div>

{% endblock %}